/*Arquivo style.css*/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Alterado height para min-height para maior flexibilidade */
  background-color: #f4f4f4;
}

p {
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: color 0.3s;
}

p:hover
{
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #750eea;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

button:hover {
    border: 5px solid #750eea;
    background-color: #0056b3;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px; /* Mantido para espaçamento */
  outline: none; /* Remove a borda padrão ao focar */
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
  transition: transform 0.3s;
  border-radius: 10%;
}

img:hover {
  transform: scale(1.1);
}

